.about {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #f0efe9;
}

.about .container {
  width: 320px;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-flow: row wrap;
    gap: 60px 40px;
  }
}

.about__title {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $active-blue;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 50px;
  }
}

.about__title-wrapper {
  margin: 0 0 40px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.about__title-wrapper p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 638px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 32px;
    width: 702px;
  }
}

.about__goal-wrapper {
  margin: 0 0 40px;

  @media (min-width: $tablet-width) {
    margin: 0 0 60px;
  }
  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.about__goal-wrapper h3 {
  display: block;
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: $active-blue;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 28px;
    margin: 0 0 30px;
  }
  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
    margin: 0 0 40px;
  }
}

.about__goal-wrapper p {
  display: block;
  margin: 0 0 30px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 20px;
    width: 498px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 0 50px;
    font-size: 16px;
    line-height: 26px;
  }
}

.about__link {
  display: flex;
  margin: 0;
  // padding: 16px 21px;
  // align-items: center;
  // border: solid 1px $primary-blue;
  // border-radius: 30px;
  // background-color: transparent;
  // text-decoration: none;
  // text-transform: uppercase;
  // font-size: 12px;
  // font-weight: 500;
  // line-height: 12px;
  // letter-spacing: 0.2px;
  // text-align: center;
  // color: $primary-blue;
  // position: relative;
  width: 223px;
  // cursor: pointer;

  // &::after {
  //   position: absolute;
  //   content: "";
  //   width: 34px;
  //   height: 34px;
  //   background-color: $primary-blue;
  //   border-radius: 50%;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   right: 5px;
  // }

  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 8px;
  //   height: 8px;
  //   mask: url("/__spritemap#sprite-arrow-view") no-repeat center; //кривая стрелочка
  //   background-color: $primary-white;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   right: 18px;
  //   z-index: 2;
  // }

  @media (min-width: $tablet-width) {
    padding: 21px 31px;
    width: 279px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
  }
}

.about__list {
  display: block;
  margin: 0;
  padding: 42px 20px 40px 20px;
  list-style: none;
  background-color: $primary-blue;
  border-radius: 20px;
  display: flex;
  flex-flow: column wrap;
  gap: 22px;

  @media (min-width: $tablet-width) {
    padding: 72px 50px 50px 70px;
    flex-flow: row wrap;
    gap: 54px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 100px 50px 120px;
    flex-flow: row wrap;
  }
}

.about__list-item {
  display: block;
  margin: 0;
  padding: 15px 21px;
  position: relative;
  color: $primary-white;
  border: solid 1px $primary-white;
  border-radius: 16px;
  display: flex;
  flex-flow: column wrap;
  gap: 15px;

  &::before {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    background-color: $primary-blue;
    top: -21px;
    left:-21px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 22px;
    mask: url("/__spritemap#sprite-star-1-view") no-repeat center; //кривая стрелочка
    background-color: $primary-white;
    z-index: 2;
    top: -14px;
    left: -9px;
  }

  @media (min-width: $tablet-width) {
    width: 253px;
  }

  @media (min-width: $desktop-width) {
    width: 484px;
    flex-flow: row wrap;
    gap: 30px;
    align-items: center;
  }
}

.about__list-item h3 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.16px;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.26px;
    text-align: left;
  }
}

.about__list-item p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
  }
}
