.button {
  display: flex;
  margin: 0;
  padding: 20px 21px 16px 21px;
  height: 44px;
  border: solid 1px $primary-blue;
  border-radius: 30px;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.2px;
  text-align: center;
  color: $primary-blue;
  position: relative;
  align-items: center;
  transition: all 0.3s ease;

  &::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    background-color: $primary-blue;
    border-radius: 50%;
    border: solid 1px transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    transition: all 0.3s ease;
  }

  &::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    mask-image: url("/__spritemap#sprite-arrow-view");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: $primary-white;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    z-index: 1;
    transition: all 0.3s ease;
  }

  @media (min-width: $tablet-width) {
    height: 56px;
  }

  &:hover {
    background-color: $primary-blue;
    color: $primary-white;
  }

  &:hover::after {
    background-color: $primary-white;
  }

  &:hover::before {
    background-color: $primary-blue;
    transform: translateY(-50%) rotate(45deg);
  }

  &:active {
    color: #c1d3ed;
  }

  &:active::after {
    background-color: $primary-white;
  }

  &:active::before {
    background-color: $primary-blue;
    opacity: 70%;
    transform: translateY(-50%) rotate(45deg);
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    border: solid 1px $primary-blue;
    background-color: transparent;
    color: $primary-blue;
    outline: none;
  }

  &:focus::after,
  &:focus-visible::after,
  &:focus-within::after {
    background-color: $primary-blue;
    outline: none;
  }

  &:focus::before,
  &:focus-visible::before,
  &:focus-within::before {
    outline: none;
    background-color: $primary-white;
    transform: translateY(-50%) rotate(45deg);
  }

  &[aria-disabled="true"],
  &:disabled {
    border: solid 1px #a9afb7;
    background-color: transparent;
    color: #a9afb7;
    pointer-events: none;
  }

  &[aria-disabled="true"]::after,
  &:disabled::after {
    background-color: #a9afb7;
    pointer-events: none;
  }

  &[aria-disabled="true"]::before,
  &:disabled::before {
    opacity: 60%;
    pointer-events: none;
  }

}
