.faq {
  background-color: #f0efe9;
  color: $primary-blue;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.faq .container {
  width: 320px;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-top: 71px;
    padding-bottom: 60px;
  }
}

.faq__heading {
  display: block;
  margin: 0 0 30px;
  padding: 0;
  font-family: $project-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    margin: 0 0 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    margin: 0 0 71px;
  }
}

.faq__list {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    width: 1028px;
    align-self: center;
  }
}

.faq__list-item {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 20px 15px;
  border: solid 2px $primary-blue;
  border-radius: 14px;
  background-color: transparent;
  transition: all 0.3s ease;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 30px;
    border-radius: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px;
  }

  &--active {
    background-color: $primary-blue;
    color: $primary-white;
  }
}

.faq__header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
  }
}

.faq__title {
  display: block;
  margin: 0;
  padding: 0;
  font-family: $project-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  max-width: 200px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 26px;
    max-width: 570px;
    min-height: 40px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 28px;
    line-height: 34px;
    max-width: 900px;
  }
}

.faq__list-item:nth-child(4n) .faq__title {
  @media (min-width: $tablet-width) {
    max-width: 440px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
  }
}

.faq__list-item p {
  max-height: 0;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.faq__list-item--active p {
  max-height: fit-content;
  padding: 20px 0 0;
  color: #f0efe9;
}

.faq__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: $primary-blue;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 1px;
    background-color: $primary-white;
  }

  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background-color: $primary-white;
  }

  &--active {
    background-color: $primary-white;
  }

  &--active::after {
    background-color: $primary-blue;
  }

  &--active::before {
    opacity: 0;
  }
}

.faq__list-item:hover,
.faq__list-item:focus,
.faq__list-item:focus-visible,
.faq__list-item:focus-within {
  background-color: $primary-white;
  color: $primary-blue;
  outline: none;
}

.faq__list-item:active {
  background-color: $primary-white;
  color: $active-blue;
  outline: none;
}

.faq__list-item:hover .faq__button,
.faq__list-item:focus .faq__button,
.faq__list-item:focus-visible .faq__button,
.faq__list-item:focus-within .faq__button {
  background-color: transparent;
  border: solid 1px $primary-blue;
  outline: none;

  &::after,
  &::before {
    background-color: $primary-blue;
  }
}

.faq__list-item:active .faq__button {
  background-color: transparent;
  border: solid 1px $active-blue;

  &::after,
  &::before {
    background-color: $active-blue;
  }
}

.faq__list-item--active:hover,
.faq__list-item--active:focus,
.faq__list-item--active:focus-visible,
.faq__list-item--active:focus-within {
  background-color: $primary-blue;
  color: $primary-white;
  outline: none;
}

.faq__list-item--active:hover .faq__button,
.faq__list-item--active:focus .faq__button,
.faq__list-item--active:focus-visible .faq__button,
.faq__list-item--active:focus-within .faq__button {
  background-color: transparent;
  border: solid 1px $primary-white;
  outline: none;

  &::after {
    background-color: $primary-white;
  }

  &::before {
    opacity: 0;
  }
}

.faq__list-item--active:active {
  background-color: $active-blue;
  outline: none;
}

.faq__list-item--active:active .faq__button {
  background-color: $primary-white;
  border: solid 1px transparent;
  outline: none;

  &::after {
    background-color: $active-blue;
  }

  &::before {
    opacity: 0;
  }
}
