.form {
  background-color: #f0efe9;
  padding: 40px 0;
  color: $primary-white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.form .container {
  width: 320px;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  padding: 43px 10px 40px;
  background-image: image-set(
    url("../../img/form/form-mobile@1x.webp") 1x,
    url("../../img/form/form-mobile@2x.webp") 2x,
    url("../../img/form/form-mobile@1x.jpg") 1x,
    url("../../img/form/form-mobile@2x.jpg") 2x
  );
  min-height: 753px;

  @media (width >= 321px) {
    width: 100%;
    background-image: image-set(
      url("../../img/form/form-tablet@1x.webp") 1x,
      url("../../img/form/form-tablet@2x.webp") 2x,
      url("../../img/form/form-tablet@1x.jpg") 1x,
      url("../../img/form/form-tablet@2x.jpg") 2x
    );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 768px;
    padding: 0 58px;
    background-image: unset;
    align-content: flex-start;

    &::after {
      position: absolute;
      content: "";
      border-radius: 16px;
      background-image: image-set(
        url("../../img/form/form-tablet@1x.webp") 1x,
        url("../../img/form/form-tablet@2x.webp") 2x,
        url("../../img/form/form-tablet@1x.jpg") 1x,
        url("../../img/form/form-tablet@2x.jpg") 2x
      );
      background-size: contain;
      background-repeat: no-repeat;
      height: 780px;
      width: 652px;

      // border-radius: 16px;
      // border: solid 5px red;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 100px;

    &::after {
      position: absolute;
      content: "";
      border-radius: 16px;
      background-image: image-set(
        url("../../img/form/form-desktop@1x.webp") 1x,
        url("../../img/form/form-desktop@2x.webp") 2x,
        url("../../img/form/form-desktop@1x.jpg") 1x,
        url("../../img/form/form-desktop@2x.jpg") 2x
      );
      width: 1240px;
      height: 800px;
    }
  }
}

.form__page-form {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: flex-start;
  padding: 15px 15px 27px;
  background-color: $primary-blue;
  border-radius: 16px;
  max-width: 300px;
  margin: 0 auto;
  z-index: 1;

  @media (min-width: $tablet-width) {
    max-width: 442px;
    width: 442px;
    min-height: 780px;
    padding: 41px 40px 36px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
    max-width: 490px;
    min-height: 800px;
    padding: 44px 70px 40px;
  }
}

.form__title {
  display: block;
  margin: 0 0 10px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: $primary-white;

  @media (min-width: $tablet-width) {
    margin: 0 0 31px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 34px;
    font-size: 32px;
    line-height: 36px;
  }
}

.form__description {
  display: block;
  margin: 0 0 21px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  opacity: 90%;
  color: #f0efe9;

  @media (min-width: $tablet-width) {
    // width: 350px;
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.form__page-fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
}

.form__page-label {
  display: block;
  margin: 0 0 11px;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #cad5e1;
  transition: all 0.3s ease;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 12px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form__page-input {
  display: block;
  margin: 0 0 21px;
  padding: 8px;
  background-color: transparent;
  border: solid 1px #6f99d4;
  color: #f0efe9;
  cursor: pointer;
  border-radius: 8px;
  width: 270px;
  height: 50px;
  transition: all 0.3s ease;
  @media (min-width: $tablet-width) {
    height: 50px;
    width: 362px;
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: transparent;
    border: solid 1px $primary-white;
    outline: none;
  }

  &:disabled {
    background-color: #4179c7;
    border: solid 1px #83a7da;
    pointer-events: none;
  }
}

.form__page-fieldset:has(.form__page-input-name:hover) .form__page-label-name,
.form__page-fieldset:has(.form__page-input-phone:hover) .form__page-label-phone,
.form__page-fieldset:has(.form__page-input-textarea:hover)
  .form__page-label-text,
.form__page-fieldset:has(.form__page-dropdown-button:hover.dropdown__button)
  .form__page-label-dropdown,
.form__page-fieldset:has(.form__page-input-name:active) .form__page-label-name,
.form__page-fieldset:has(.form__page-input-phone:active)
  .form__page-label-phone,
.form__page-fieldset:has(.form__page-input-textarea:active)
  .form__page-label-text,
.form__page-fieldset:has(.form__page-dropdown-button:active.dropdown__button)
  .form__page-label-dropdown,
.form__page-fieldset:has(.form__page-input-name:focus) .form__page-label-name,
.form__page-fieldset:has(.form__page-input-phone:focus) .form__page-label-phone,
.form__page-fieldset:has(.form__page-input-textarea:focus)
  .form__page-label-text,
.form__page-fieldset:has(.form__page-dropdown-button:focus.dropdown__button)
  .form__page-label-dropdown,
.form__page-fieldset:has(.form__page-input-name:focus-visible)
  .form__page-label-name,
.form__page-fieldset:has(.form__page-input-phone:focus-visible)
  .form__page-label-phone,
.form__page-fieldset:has(.form__page-input-textarea:focus-visible)
  .form__page-label-text,
.form__page-fieldset:has(
    .form__page-dropdown-button:focus-visible.dropdown__button
  )
  .form__page-label-dropdown,
.form__page-fieldset:has(.form__page-input-name:focus-within)
  .form__page-label-name,
.form__page-fieldset:has(.form__page-input-phone:focus-within)
  .form__page-label-phone,
.form__page-fieldset:has(.form__page-input-textarea:focus-within)
  .form__page-label-text,
.form__page-fieldset:has(
    .form__page-dropdown-button:focus-within.dropdown__button
  )
  .form__page-label-dropdown {
  color: #f0efe9;
  outline: none;
}

.form__page-fieldset:has(.form__page-input-name:disabled)
  .form__page-label-name,
.form__page-fieldset:has(.form__page-input-phone:disabled)
  .form__page-label-phone,
.form__page-fieldset:has(.form__page-input-textarea:disabled)
  .form__page-label-text,
.form__page-fieldset:has(.form__page-dropdown-button:disabled.dropdown__button)
  .form__page-label-dropdown {
  color: #a4bbd9;
}

.form__page-dropdown-button.dropdown__button {
  background-color: transparent;
  border: solid 1px #6f99d4;
  color: #f0efe9;
  width: 260px;
  height: 52px;
  margin: 0 0 20px;
  caret-color: transparent;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 362px;
    margin: 0 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }

  &:hover {
    background-color: transparent;
    border: solid 1px $primary-white;
  }
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    border: solid 1px $primary-white;
  }

  &:disabled {
    background-color: #4179c7;
    border: solid 1px #83a7da;
    pointer-events: none;
  }
}

.form__page-dropdown.dropdown {
  position: relative;
  height: 52px;
  margin: 0 0 20px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    mask: url("/__spritemap#sprite-dropdown-view") no-repeat center;
    background-color: $primary-white;
    right: 31px;
    width: 16px;
    height: 16px;
    transition: all 0.3s ease;

    @media (min-width: $tablet-width) {
      right: 21px;
    }
  }
}

.form__page-dropdown.open.dropdown {
  &::after {
    transform: rotate(180deg) translateY(50%);
  }
}

.form__page-dropdown-button.open.dropdown__button {
  border: solid 1px $primary-white;

}

.form__page-label.form__page-label-dropdown.open {
  opacity: 100%;
}

.form__page-dropdown-list {
  border: solid 1px $primary-white;
  width: 260px;

  @media (min-width: $tablet-width) {
    width: 362px;
  }

  @media (min-width: $tablet-width) {
    width: 350px;
  }
}

.form__page-input-textarea {
  height: 94px;
  min-height: 94px;
  resize: none; //add scroll?

  @media (min-width: $tablet-width) {
    height: 88px;
    min-height: 88px;
  }

  @media (min-width: $desktop-width) {
    height: 90px;
    min-height: 90px;
    margin: 0 0 18px;
  }
}

.form__page-label.form__page-label-dropdown {
  @media (min-width: $desktop-width) {
    margin: 0 0 10px;
  }
}

.form__page-dropdown-button {
  background-color: $primary-white;
  opacity: 100%;
}

.form__page-checkbox {
  min-height: 40px;
  margin: 0 0 20px;

  @media (min-width: $tablet-width) {
    min-height: 20px;
    margin: 0 0 40px;
  }
}

.form__page-checkbox-mark.popup__checkbox-mark {
  background-color: $primary-white;
  border: solid 1px $primary-white;

  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within {
    opacity: 1;
    outline: none;
    background-color: transparent;
    border: solid 1px $primary-white;
  }
}

.form__page-checkbox-input:checked + .form__page-checkbox-mark::before {
  background-color: $primary-blue;
}

.form__page-checkbox-input:checked:hover
  + .form__page-checkbox-mark.popup__checkbox-mark,
.form__page-checkbox-input:checked:focus
  + .form__page-checkbox-mark.popup__checkbox-mark,
.form__page-checkbox-input:checked:focus-visible
  + .form__page-checkbox-mark.popup__checkbox-mark,
.form__page-checkbox-input:checked:focus-within
  + .form__page-checkbox-mark.popup__checkbox-mark,
.form__page-checkbox-input:hover
  + .form__page-checkbox-mark.popup__checkbox-mark,
.form__page-checkbox-input:focus
  + .form__page-checkbox-mark.popup__checkbox-mark,
.form__page-checkbox-input:focus-visible
  + .form__page-checkbox-mark.popup__checkbox-mark,
.form__page-checkbox-input:focus-within
  + .form__page-checkbox-mark.popup__checkbox-mark {
  background-color: transparent;
  border: solid 1px $primary-white;
}

.form__page-checkbox-input:checked:focus + .form__page-checkbox-mark::before,
.form__page-checkbox-input:checked:focus-visible
  + .form__page-checkbox-mark::before,
.form__page-checkbox-input:checked:focus-within
  + .form__page-checkbox-mark::before {
  background-color: $primary-white;
}

.form__page-checkbox-input:disabled
  + .form__page-checkbox-mark.popup__checkbox-mark {
  background-color: #adc5e7;
  border: solid 1px $primary-white;
  pointer-events: none;
}

.form__page-checkbox-input:checked:disabled
  + .form__page-checkbox-mark.popup__checkbox-mark {
  background-color: #a9afb7;
  border: solid 1px #a9afb7;
  pointer-events: none;
}

.form__page-checkbox-input:checked:disabled
  + .form__page-checkbox-mark::before {
  background-color: #e5e7e9;
  pointer-events: none;
}

.form__page-checkbox-input.checkbox-input--error + .form__page-checkbox-mark.popup__checkbox-mark  {
  background-color: #4e6bb5;
  border: solid 1px #c16282;

}

.form__page-checkbox-text--mobile.form__page-checkbox-text {
  display: block;
  margin: 0;
  padding: 0;
  width: 240px;
  font-size: 12px;
  line-height: 14px;
  opacity: 90%;
  min-height: 40px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form__page-checkbox-text {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 14px;
  opacity: 90%;

  // min-height: 40px;

  @media (min-width: $tablet-width) {
    width: 304px;
    line-height: 12px;
    min-height: 20px;
    display: flex;
    align-items: center;
  }

  // @media (min-width: $desktop-width) {
  //   width: 312px;
  // }
}

.form__page-button {
  border: solid 1px $primary-white;
  color: $primary-white;
  justify-content: center;
  padding: 17px 58px 16px 21px; //fix

  width: 260px;

  @media (min-width: $tablet-width) {
    width: 352px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-align: center;
    padding: 17px 70px 16px 21px; //fix
  }

  @media (min-width: $desktop-width) {
    width: 350px;
  }

  &::after {
    background-color: $primary-white;
    right: 4px;

    @media (min-width: $tablet-width) {
      width: 46px;
      height: 46px;
    }
  }

  &::before {
    background-color: $primary-blue;
    width: 9px;
    height: 9px;
    right: 17px;

    @media (min-width: $tablet-width) {
      right: 23px;
    }
  }

  &:hover {
    background-color: $primary-white;
    color: $primary-blue;
  }

  &:hover::after {
    background-color: $primary-blue;
  }

  &:hover::before {
    background-color: $primary-white;
    transform: translateY(-50%) rotate(45deg);
  }

  &:active {
    color: #6f99d4;
  }

  &:active::after {
    background-color: $primary-blue;
  }

  &:active::before {
    background-color: $primary-white;
    opacity: 70%;
    transform: translateY(-50%) rotate(45deg);
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    border: solid 1px $primary-white;
    background-color: transparent;
    color: $primary-white;
    outline: none;
  }

  &:focus::after,
  &:focus-visible::after,
  &:focus-within::after {
    background-color: $primary-white;
    outline: none;
  }

  &:focus::before,
  &:focus-visible::before,
  &:focus-within::before {
    outline: none;
    background-color: $primary-blue;
    transform: translateY(-50%) rotate(45deg);
  }
}

.form__page-input.form__page-input--error {
  background-color: unset;
  background-color: #5a6ab0;
  border: solid 1px #ff5d66;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    background-color: #5a6ab0;
    border: solid 1px #ff5d66;
  }
}
