.hero {
  position: relative;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

.hero__main {
  width: 100%;
  margin: 0 auto;
}

.hero__swiper.swiper {
  width: 100%;
  margin: 0 auto;
  min-height: 568px;
  height: auto;
  padding: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero__swiper-wrapper.swiper-wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 568px;
  height: auto;
  position: relative;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero__swiper-image {
  display: flex;
  position: absolute;
  content: "";
  margin: 0;
  padding: 0;
  z-index: -1;
  width: 100%;
  height: 568px;
  object-fit: cover;
  object-position: center;
  background-color: #777f94;

  @media (min-width: $tablet-width) {
    height: 1024px;
  }

  @media (min-width: $desktop-width) {
    height: 800px;
  }
}

.hero__swiper-slide.swiper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  height: 100%;
  min-height: 568px;
  z-index: auto;

  @media (min-width: $tablet-width) {
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero__swiper-slide.swiper-slide:not(.swiper-slide-active) {
  pointer-events: none;
}

.hero__swiper-slide.swiper-slide-active {
  pointer-events: auto;
  z-index: 2;
}

.hero__swiper-slide .container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  width: 320px;
  min-height: 568px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 60px;
    width: 768px;
    min-height: 1024px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 800px;
  }
}

.hero__swiper-pagination.swiper-pagination {
  position: absolute;
  content: "";
  min-width: 80px;
  width: max-content;
  min-height: 28px;
  background-color: $primary-white;
  display: flex;
  gap: 12px;
  z-index: 2;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: center;
  align-items: center;
  padding: 6px;
  left: calc(50% - (290px / 2));

  &::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("/__spritemap#sprite-connecter-view");
    right: -15px;
    bottom: -1px;

    @media (min-width: $tablet-width) {
      right: -20px;
    }
  }

  @media (min-width: $tablet-width) {
    left: calc(50% - (678px / 2));
    min-height: 40px;
    min-width: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    left: calc(50% - (1240px / 2));
  }
}

.hero__swiper-pagination.swiper-pagination .swiper-pagination-bullet {
  display: block;
  border: solid 2px $primary-blue;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $primary-white;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 12px;
  }

  &:hover {
    background-color: #6992ce;
    border-color: $primary-white;
  }

  &:active {
    background-color: $active-blue;
    border-color: $active-blue;
  }

  &:focus,
  &:focus-within,
  &:focus-visible {
    outline: none;
    background-color: $primary-blue;
    border-color: $primary-blue;
  }
}

.hero__swiper-pagination.swiper-pagination .swiper-pagination-bullet-active {
  background-color: $active-blue;
  border-color: $active-blue;
}

.hero__slide-title-wrapper {
  display: flex;
  flex-flow: column wrap;
  background-color: $primary-white;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 20px 14px 16px;
  position: relative;

  @media (min-width: $tablet-width) {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 31px 40px 23px;
    width: 659px;
  }

  @media (min-width: $desktop-width) {
    padding: 40px 50px 30px;
    width: 968px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 10px;
    background-image: url("/__spritemap#sprite-connecter-view");
    transform: rotate(90deg);
    right: 16px;
    bottom: -9px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.hero__slide-title {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: $primary-blue;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
  }
}

.hero__slider-inner-wrapper {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
  }
}

.hero__slide-description-wrapper {
  display: flex;
  background-color: $primary-white;
  border-bottom-right-radius: 14px;
  padding: 0 14px 15px;
  width: 267px;

  @media (min-width: $tablet-width) {
    border-bottom-right-radius: 0;
    padding: 0 44px 35px 40px;
    width: 325px;
    border-bottom-left-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
    padding: 0 55px 35px 50px;
  }
}

.hero__slide-description-wrapper p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.hero__slide-link-wrapper {
  display: flex;
  background-color: $primary-white;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  padding: 10px 15px;
  width: 185px;
  position: relative;

  @media (min-width: $tablet-width) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30px;
    padding: 0 40px 10px 30px;
    width: 268px;
  }

  @media (min-width: $desktop-width) {
    width: 279px;
    padding: 11px 40px 10px 30px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url("/__spritemap#sprite-connecter-view");
    transform: rotate(90deg);
    right: -10px;
    top: 0;

    @media (min-width: $tablet-width) {
      width: 26px;
      height: 26px;
      right: -26px;
    }
  }
}

.hero__slide-link.button,
.swiper-slide-active .hero__slide-link.button {
  display: flex;
  margin: 0;
  padding: 16px 21px;
  width: 100%;
  pointer-events: auto;
  z-index: auto;

  @media (min-width: $tablet-width) {
    &::after {
      width: 46px;
      height: 46px;
      background-color: $primary-blue;
      right: 4px;
    }

    &::before {
      right: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    height: 56px;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-align: center;
    padding: 16px 30px;
  }

  @media (min-width: $desktop-width) {
    width: 199px;
  }

  &:hover {
    background-color: $primary-blue;
    color: $primary-white;
  }

  &:hover::after {
    background-color: $primary-white;
  }

  &:hover::before {
    background-color: $primary-blue;
    transform: translateY(-50%) rotate(45deg);
  }

  &:active {
    color: #c1d3ed;
  }

  &:active::after {
    background-color: $primary-white;
  }

  &:active::before {
    background-color: $primary-blue;
    opacity: 70%;
    transform: translateY(-50%) rotate(45deg);
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    border: solid 1px $primary-blue;
    background-color: transparent;
    color: $primary-blue;
    outline: none;
  }

  &:focus::after,
  &:focus-visible::after,
  &:focus-within::after {
    background-color: $primary-blue;
    outline: none;
  }

  &:focus::before,
  &:focus-visible::before,
  &:focus-within::before {
    outline: none;
    background-color: $primary-white;
    transform: translateY(-50%) rotate(45deg);
  }

  &[aria-disabled="true"],
  &:disabled {
    border: solid 1px #a9afb7;
    background-color: transparent;
    color: #a9afb7;
    pointer-events: none;
  }

  &[aria-disabled="true"]::after,
  &:disabled::after {
    background-color: #a9afb7;
    pointer-events: none;
  }

  &[aria-disabled="true"]::before,
  &:disabled::before {
    opacity: 60%;
    pointer-events: none;
  }
}

.hero__header {
  position: absolute;
  content: "";
  margin: 0;
  padding: 0;
  width: 320px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  @media (min-width: $tablet-width) {
    width: 768px;
    top: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.hero__header-wrapper {
  position: relative;
  cursor: pointer;
}

.hero__header .container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.hero__header-logo {
  position: absolute;
  top: 2px;
  left: 15px;
  width: 52px;
  height: 52px;
  background-color: $primary-white;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;


  @media (min-width: $tablet-width) {
    left: 45px;
  }

  @media (min-width: $desktop-width) {
    left: 100px;
  }
}

.hero__header-logo--opened {
  &::after {
    content: "";
    position: fixed;
    border-radius: 50%;

    top: 2px;
    left: 15px;
    width: 52px;
    height: 52px;
    background: $overlay-form;
    z-index: 0;

    @media (min-width: $tablet-width) {
      left: 45px;
      z-index: 1;
    }

    @media (min-width: $desktop-width) {
      left: 100px;
    }
  }
}

.hero__header-toggle {
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 46px;
  height: 46px;
  background-color: $primary-blue;
  border: none;
  border-radius: 50%;
  display: flex;
  position: relative;
  transition: transform 0.3s ease;

  &--opened {
    background-color: $primary-white;
  }

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 1px;
    background-color: $primary-white;
    left: 50%;
    transform: translateX(-50%);
    top: 19px;
    transition: all 0.3s ease;
  }

  &::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 1px;
    background-color: $primary-white;
    left: 50%;
    transform: translateX(-50%);
    bottom: 19px;
    transition: all 0.3s ease;
  }

  &--opened::before {
    background-color: $primary-blue;
    transform: translateY(4px) translateX(-50%) rotate(45deg);
  }

  &--opened::after {
    background-color: $primary-blue;
    transform: translateY(-3px) translateX(-50%) rotate(-45deg);
  }
}

.hero__header-toggle-icon {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  content: "";
  width: 15px;
  height: 1px;
  background-color: $primary-white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;

  &--opened {
    display: none;
    transition: display 0.3s ease;
  }
}

.hero__header-heading {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-align: center;
  color: $primary-blue;
  text-transform: uppercase;

  &--opened {
    color: $primary-white;
  }
}

.hero__menu-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 4px 5px 2px 20px;
  background-color: $primary-white;
  border-radius: 30px;
  border: solid 1px $primary-blue;
  justify-content: space-between;
  transition: all 0.3s ease;
  width: 136px;
  cursor: pointer;
  position: relative;

  &--opened {
    background-color: $primary-blue;
    width: 290px;

    @media (min-width: $tablet-width) {
      width: 286px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 4px 4px 4px 20px;
  }
}

.hero__header-nav {
  position: absolute;
  top: calc(100% + 4px);
  width: 290px;
  margin: 0;
  padding: 0;
  background-color: $primary-blue;
  border-radius: 30px;
  opacity: 0;
  transform: translateY(-10px);
  max-height: 0;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;

  &--opened {
    opacity: 1;
    transform: translateY(0);
    max-height: max-content;
    padding: 35px 25px;
  }
}

.hero__header-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  gap: 28px;
}

.hero__header-item {
  margin: 0;
  padding: 0;
  width: fit-content;
}

.hero__header-link {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-decoration: none;
  color: $primary-white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  width: fit-content;
  opacity: 70%;
  transition: opacity 0.3s ease;

  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:active {
    opacity: 100%;
    outline: none;
  }
}

.hero__header-link-programs,
.hero__header-link-news {
  position: relative;
  transition: color 0.3s ease;

  &::after {
    position: absolute;
    content: "";
    mask: url("/__spritemap#sprite-arrow-down-view") no-repeat center;
    background-color: $primary-white;
    width: 12px;
    height: 12px;
    top: 0;
    left: calc(100% + 10px);
    transition: transform 0.3s ease;
  }

  &--opened {
    opacity: 1;
  }

  &--opened::after {
    transform: rotate(-180deg);
  }
}

.hero__header-sublist {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: transform 0.3s ease, opacity 0.3s ease, max-height 0.3s ease;

  &--opened {
    max-height: max-content;
    opacity: 1;
    list-style: none;
    margin: 0;
    padding: 20px 0 0 16px;
    display: flex;
    flex-flow: column wrap;
    gap: 16px;
    transform: translateY(0);
  }
}

.hero__header-subitem.hero__header-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  text-transform: none;

  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within,
  &:active {
    opacity: 90%;
    outline: none;
  }
}
