.news {
  background-color: #f0efe9;
  color: $primary-blue;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.news .container {
  width: 320px;
  align-self: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  padding-top: 51px;
  padding-bottom: 50px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.news__heading {
  display: block;
  margin: 0 0 23px -15px;
  padding: 0;
  font-family: $project-font;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    margin: 0 0 29px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    margin: 0 0 40px;
  }
}

.news__tab-nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 9px;
  width: 305px;
  overflow-x: auto;

  // scrollbar-width: thin;
  -webkit-overflow-scrolling: touch;
  margin: 0 0 24px;

  @media (min-width: $tablet-width) {
    width: 674px;
    flex-wrap: wrap;
    overflow-x: unset;
    gap: 10px;
    justify-content: center;
    margin: 0 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    gap: 5px;
    margin: 0 0 40px -9px;
  }
}

.news__tab-nav::-webkit-scrollbar {
  height: 2px;
}

.news__tab-button.button {
  display: block;
  margin: 0;
  border: solid 2px transparent;
  border-radius: 20px;
  height: 36px;
  padding: 11px 15px 11px 14px;
  cursor: pointer;
  opacity: 60%;

  @media (min-width: $tablet-width) {
    padding: 12px 17px 12px 19px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    min-width: 120px;
    padding: 12px 20px;
  }

  &::after,
  &::before {
    display: none;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: $primary-white;
    color: $primary-blue;
    border: solid 2px $primary-white;
    opacity: 100%;
  }

  &:hover,
  &:active {
    background-color: transparent;
    border: solid 2px transparent;
    color: $primary-blue;
    opacity: 100%;
  }

  &:active {
    border: solid 2px $primary-blue;

    @media (min-width: $tablet-width) {
      padding: 12px 20px;
    }
  }
}

.news__tab-button--active.button {
  border: solid 2px $primary-blue;
  border-radius: 20px;
  opacity: 100%;

  @media (min-width: $tablet-width) {
    padding: 12px 20px;
  }
}

.news__link {
  width: 30px;
  height: 30px;
  border: none;
  display: block;
  margin: 0;
  padding: 14px 0 9px;

  &::after {
    right: 0;
    width: 30px;
    height: 30px;
  }

  &::before {
    right: 11px;
    width: 9px;
    height: 9px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  &:hover {
    background-color: $primary-white;
  }

  &:active {
    background-color: $primary-white;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    border: none;
    background-color: transparent;
    color: $primary-blue;
    outline: none;
  }
}

.news__swiper.swiper {
  width: 290px;
  padding: 0;
  margin: 0 0 24px -15px;
  height: 590px;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin: 0 0 30px;
    height: 730px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 40px;
    width: 1240px;
    height: 400px;
  }
}

.news__swiper-wrapper.swiper-wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

.news__swiper-slide.swiper-slide {
  margin: 0;
  padding: 0;

  &:nth-child(even) {
    width: 290px;
    min-height: 240px;
    max-height: 240px;
    height: 240px;
  }

  &:nth-child(odd) {
    width: 290px;
    min-height: 330px;
    max-height: 330px;
    height: 330px;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(even),
    &:nth-child(odd) {
      min-height: unset;
      max-height: unset;
      height: unset;
    }

    width: 324px;
    min-height: 350px;
    max-height: 350px;
    height: 350px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
    max-height: 400px;
    height: 400px;
    max-width: 286px;
    width: 286px;
  }

  &--empty {
    width: 290px;
    min-height: 240px;
    max-height: 240px;
    height: 240px;

    @media (min-width: $tablet-width) {
      width: 324px;
      min-height: 350px;
      max-height: 350px;
      height: 350px;
    }

    @media (min-width: $desktop-width) {
      min-height: 400px;
      max-height: 400px;
      height: 400px;
      max-width: 286px;
      width: 286px;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.news__swiper-slide:nth-child(3n + 1).swiper-slide {
  @media (min-width: $desktop-width) {

  min-width: 604px;
  max-width: 604px;
  width: 604px;
}
}

.news__swiper-slide.swiper-slide.swiper-slide:nth-child(3n + 1) .news__swiper-slide-text-container {
  @media (min-width: $desktop-width) {
    width: 468px;
    gap: 16px;
  }
}

.news__swiper-slide.swiper-slide.swiper-slide:nth-child(3n + 1) .news__swiper-slide-title {
  @media (min-width: $desktop-width) {
    width: 426px;
    padding: 18px 0 5px;
  }
}

.news__swiper-slide.swiper-slide.swiper-slide:nth-child(3n + 1) .news__swiper-slide-text-container p {
  @media (min-width: $desktop-width) {
    width: 404px;
  }
}

.news__swiper-slide-container {
  width: 100%;
  height: 100%;
  background-color: #6e8988;
  border-radius: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &--interview {
    background-image:
      image-set(
        url("../../img/news/interview-bg@1x.webp") 1x,
        url("../../img/news/interview-bg@2x.webp") 2x,
        url("../../img/news/interview-bg@1x.jpg") 1x,
        url("../../img/news/interview-bg@2x.jpg") 2x
      );
  }

  &--travels {
    background-image:
      image-set(
        url("../../img/news/travels-bg@1x.webp") 1x,
        url("../../img/news/travels-bg@2x.webp") 2x,
        url("../../img/news/travels-bg@1x.jpg") 1x,
        url("../../img/news/travels-bg@2x.jpg") 2x
      );
  }

  &--volunteer {
    background-image:
      image-set(
        url("../../img/news/volunteer-bg@1x.webp") 1x,
        url("../../img/news/volunteer-bg@2x.webp") 2x,
        url("../../img/news/volunteer-bg@1x.png") 1x,
        url("../../img/news/volunteer-bg@2x.png") 2x
      );
  } // delete jpg?

  &--career {
    background-image:
      image-set(
        url("../../img/news/career-bg@1x.webp") 1x,
        url("../../img/news/career-bg@2x.webp") 2x,
        url("../../img/news/career-bg@1x.jpg") 1x,
        url("../../img/news/career-bg@2x.jpg") 2x
      );
  }
}

.news__swiper-slide-container--volunteer .news__swiper-slide-date {
  @media (min-width: $tablet-width) {
    width: 75px;
  }
}

.news__swiper-slide-container--volunteer .news__swiper-slide-text-container {
  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.news__swiper-slide-container--career .news__swiper-slide-date {
  @media (min-width: $tablet-width) {
    width: 76px;
  }
}

.news__swiper-slide-date,
.news__swiper-slide-title,
.news__swiper-slide-text-container,
.news__swiper-slide-text-container p,
.news__link {
  display: block;
  margin: 0;
  background-color: #f0efe9;
}

.news__swiper-slide-date {
  padding: 13px 0 5px;
  border-radius: 0 12px 0 0;
  width: 79px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.1px;
  text-align: left;
  position: relative;

  @media (min-width: $tablet-width) {
    letter-spacing: 0.12px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-connecter-view");
    background-color: #f0efe9;
    left: 0;
    top: -16px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-connecter-view");
    background-color: #f0efe9;
    right: -14px;
    bottom: 0;
  }
}

.news__swiper-slide-title {
  padding: 10px 0 2px;
  width: 200px;
  border-radius: 0 12px 0 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  position: relative;
  min-height: 32px;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-connecter-view");
    background-color: #f0efe9;
    right: -16px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 207px;
    padding: 11px 0 4px;
    min-height: unset;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 26px;
    width: 190px;
    padding: 10px 0 3px;
  }
}

.news__swiper-slide-text-container {
  display: flex;
  flex-direction: row;
  width: 263px;
  align-items: center;
  border-radius: 0 12px;
  position: relative;
  padding: 0;
  gap: 10px;
  min-height: 52px;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    mask-image: url("/__spritemap#sprite-connecter-view");
    background-color: #f0efe9;
    right: -16px;
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 240px;
    padding: 12px 18px 16px 0;
    min-height: unset;
  }
}

.news__swiper-slide-text-container p {
  display: block;
  margin: 0;
  padding: 14px 0 10px;
  color: #484848;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  width: 213px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.news__swiper-navigation {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  content: "";
  bottom: 50px;
  margin: 0 0 0 -15px;

  align-items: center;

  @media (min-width: $tablet-width) {
    bottom: 50px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    bottom: 60px;
  }
}

.news__swiper-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 70%;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    background-color: $primary-white;
  }

  &:active {
    opacity: 70%;
  }
}

.news__swiper-button.swiper-button-next::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-swiper-button-view") no-repeat center;
  background-color: $primary-blue;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.news__swiper-button.swiper-button-prev::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-swiper-button-view") no-repeat center;
  background-color: $primary-blue;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.news__swiper-button.swiper-button-next:active::after,
.news__swiper-button.swiper-button-prev:active::after {
  outline: none;
  opacity: 70%;
}

.news__swiper-button.swiper-button-next:disabled::after,
.news__swiper-button.swiper-button-prev:disabled::after,
.news__swiper-button.swiper-button-disabled.swiper-button-prev::after,
.news__swiper-button.swiper-button-disabled.swiper-button-next::after {
  background-color: #a9afb7;
  pointer-events: none;
}

.news__swiper-button.swiper-button-disabled,
.news__swiper-button.swiper-button-disabled:active {
  pointer-events: none;
}

.news__swiper-pagination.swiper-pagination {
  width: 152px;
  display: flex;
  gap: 16px;

  @media (min-width: $tablet-width) {
    gap: 20px;
    width: 188px;
    height: 32px;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
  }
}

.news__swiper-pagination.swiper-pagination .swiper-pagination-bullet {
  width: 26px;
  height: 26px;
  padding: 6px 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  color: #8eabd6;
  background-color: transparent;
  border: solid 2px transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;

  @media (min-width: $tablet-width) {
    width: 32px;
    height: 32px;
  }

  &:hover {
    border: solid 2px $primary-blue;
    background-color: transparent;
    color: $primary-blue;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    background-color: $primary-white;
    border: solid 2px $primary-blue;
  }

  &:active {
    outline: none;
    background-color: $active-blue;
    border: solid 2px $active-blue;
    color: $primary-white;
  }
}

.news__swiper-pagination.swiper-pagination .swiper-pagination-bullet-active {
  color: $primary-white;
  opacity: 1;
  background-color: $primary-blue;
  border: solid 2px transparent;

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    background-color: $active-blue;
    border: solid 2px $active-blue;
    color: $primary-white;
  }
}
