.popup {
  display: none;

  @media (min-width: $tablet-width) {
    top: 204px;
    width: 510px;
    padding: 30px 80px 60px;
  }

  @media (min-width: $desktop-width) {
    top: 90px;
  }

  &--opened {
    position: absolute;
    top: 23px;
    left: 50%;
    transform: translate(-50%);
    width: 290px;
    height: max-content;
    background-color: $primary-white;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    z-index: 5;
    border-radius: 16px;
    padding: 20px 15px 40px;

    @media (min-width: $tablet-width) {
      top: 204px;
      width: 510px;
      padding: 30px 80px 60px;
    }

    @media (min-width: $desktop-width) {
      top: 90px;
    }
  }
}

.popup__close {
  border: none;
  display: flex;
  margin-left: auto;
  padding: 10px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  position: relative;
  background-color: transparent;
  justify-content: center;
  align-items: center;

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 1px;
    background-color: $active-blue;
    transform: rotate(45deg);

    @media (min-width: $tablet-width) {
      width: 22px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 1px;
    background-color: $active-blue;
    transform: rotate(-45deg);

    @media (min-width: $tablet-width) {
      width: 22px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;
  }
}

.popup__title {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: $primary-blue;

  @media (min-width: $tablet-width) {
    margin: 0 0 20px;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    font-size: 32px;
    line-height: 36px;
  }
}

.popup__description {
  display: block;
  margin: 0 0 25px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  width: 220px;

  @media (min-width: $tablet-width) {
    width: 350px;
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.popup__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
}

.popup__label {
  display: block;
  margin: 0 0 12px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #6d6d6d;
  opacity: 80%;

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }

  &:hover {
    color: #484848;
  }

  &[aria-disabled="true"],
  &:disabled {
    border: solid 1px #cbcfd4;
    background-color: #eeeff1;
    color: #cccfd4;
    pointer-events: none;
  }
}


.popup__label-dropdown.open {
  opacity: 100%;
}

/* Стили для label при наведении, фокусе и других состояниях для #input-name */
.popup__fieldset:has(#input-name:hover) label[for="input-name"],
.popup__fieldset:has(#input-name:active) label[for="input-name"],
.popup__fieldset:has(#input-name:focus) label[for="input-name"],
.popup__fieldset:has(#input-name:focus-visible) label[for="input-name"],
.popup__fieldset:has(#input-name:focus-within) label[for="input-name"] {
  color: #484848;
}


/* Стили для label при наведении, фокусе и других состояниях для #input-phone */
.popup__fieldset:has(#input-phone:hover) label[for="input-phone"],
.popup__fieldset:has(#input-phone:active) label[for="input-phone"],
.popup__fieldset:has(#input-phone:focus) label[for="input-phone"],
.popup__fieldset:has(#input-phone:focus-visible) label[for="input-phone"],
.popup__fieldset:has(#input-phone:focus-within) label[for="input-phone"] {
  color: #484848;
}

// /* Стили для input #input-phone */
// #input-phone:active,
// #input-phone:focus,
// #input-phone:focus-visible,
// #input-phone:focus-within {
//   border: solid 1px #484848;
//   outline: none;
// }


.popup__input {
  display: block;
  margin: 0 0 15px;
  padding: 8px;
  border: solid 1px #c8c8c8;
  border-radius: 8px;
  width: 260px;
  height: 44px;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    height: 50px;
    width: 350px;
  }

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    border: solid 1px #484848;
    outline: none;
  }

  &[aria-disabled="true"],
  &:disabled {
    border: solid 1px #cbcfd4;
    background-color: #eeeff1;
    color: #cccfd4;
    pointer-events: none;
  }
}

.popup__button {
  width: 260px;
  display: flex;
  justify-content: center;
  padding-right: 68px;

  @media (min-width: $tablet-width) {
    width: 194px;
    align-self: center;
  }
}

.popup__dropdown {
  border-radius: 9px;
  height: 50px;
  margin-bottom: 20px;

  &[aria-disabled="true"] {
    border: solid 1px #cbcfd4;
    background-color: #eeeff1;
    color: #cccfd4;
    pointer-events: none;
  }
}

.popup__dropdown-button {
  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    border: solid 1px #484848;
    outline: none;
  }

  &[aria-disabled="true"],
  &:disabled {
    border: solid 1px #cbcfd4;
    background-color: #eeeff1;
    color: #cccfd4;
    pointer-events: none;
  }
}

.popup__fieldset:has(#dropdown-input:hover) label[for="dropdown-input"], // если нельзя id то заменить на классы и написать новые классы в разметку
.popup__fieldset:has(#dropdown-input:active) label[for="dropdown-input"],
.popup__fieldset:has(#dropdown-input:focus) label[for="dropdown-input"],
.popup__fieldset:has(#dropdown-input:focus-visible) label[for="dropdown-input"],
.popup__fieldset:has(#dropdown-input:focus-within) label[for="dropdown-input"] {
  color: #484848;
}

// #dropdown-input:active,
// #dropdown-input:focus,
// #dropdown-input:focus-visible,
// #dropdown-input:focus-within {
//   border: solid 1px #484848;
//   outline: none;
// }


.popup__checkbox {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 10px;
  margin: 0 0 25px;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 100%;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    opacity: 70%;
    outline: none;
  }
}

// .popup__checkbox-input {
//   position: absolute;
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

.popup__checkbox-mark {
  margin: 0;
  padding: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: $primary-blue;
  border: solid 1px transparent;
  border-radius: 2px;
  transition: all 0.3s ease;

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    border: solid 1px #484848;
  }
}

.popup__checkbox-input:checked + .popup__checkbox-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mask: url("/__spritemap#sprite-tick-view") no-repeat center;
  background-color: $primary-white;
}

.popup__label-text {
  margin: 0;
  padding: 0;
  width: 230px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;

  @media (min-width: $tablet-width) {
    width: 304px;
    line-height: 12px;
  }

  @media (min-width: $desktop-width) {
    width: 312px;
  }
}

.popup__error {
  background-color: #ffdfe0;
  border: solid 1px #ff5d66;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible,
  &:focus-within {
    background-color: #ffdfe0;
    border: solid 1px #ff5d66;
  }
}
