.programs {
  display: flex;
  flex-flow: column wrap;
  // align-items: center;
  background-color: #f0efe9;
  position: relative;
  padding: 56px 0 50px 0;

  @media (min-width: $tablet-width) {
    padding: 53px 0 72px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 0 82px 0;
  }
}

.programs__heading {
  display: flex;
  align-self: center;
  margin: 0 0 34px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $primary-blue;
  width: 320px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    width: 768px;
    padding: 0 45px;
    margin: 0 0 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    width: 1440px;
    padding: 0 100px;
    margin: 0 0 45px;
  }
}

.swiper.programs__swiper {
  width: 290px;
  // padding: 0 0 0 15px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 0 0 45px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    padding: 0;
  }
}

// .swiper-wrapper.programs__swiper-wrapper {
//   @media (min-width: $desktop-width) {
//     width: 1340px;
//   }
// }

.programs__swiper-slide.swiper-slide {
  position: relative;
  max-width: 290px;
  min-height: 400px;
  height: auto;

  @media (min-width: $tablet-width) {
    min-height: 420px;
    min-width: 324px;
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-width: 392px;
    max-width: 392px;
  }
}

.programs__swiper-innner-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 400px;
  height: 100%;
  padding: 18px 10px;
  justify-content: flex-end;

  @media (min-width: $tablet-width) {
    min-height: 420px;
    padding: 10px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 20px;
  }
}

.progarms__swiper-image {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 12px;
  // position: absolute;
  // width: 100%;
  // height: 100%;
  position: absolute;
  content: "";
  margin: 0;
  padding: 0;
  z-index: -1;
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  // width: 100vw;
  @media (min-width: $tablet-width) {
    height: 420px;
  }
  @media (min-width: $desktop-width) {
    // height: 800px;
  }
}

.programs__title-wrapper {
  background-color: $primary-white;
  padding: 18px 6px 6px 18px;
  width: 146px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 173px;
    padding: 19px 6px 5px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 194px;
    padding: 18px 6px 6px 18px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url("/__spritemap#sprite-connecter-view");
    right: -18px;
    bottom: 0;
  }
}

.programs__title {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $primary-blue;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 17px;
  }
}

.programs__description-wrapper {
  background-color: $primary-white;
  padding: 13px 18px 14px 18px;
  width: 270px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 284px;
    padding: 12px 18px 15px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 321px;
    padding: 0 18px;
    min-height: 82px;
  }
}

.programs__description-wrapper p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #484848;
  width: 190px;
  height: max-content;

  @media (min-width: $tablet-width) {
    width: 196px;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 2px;
  }
}

.programs__slide-link {
  display: block;
  margin: 0 0 2px;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;

  &::after {
    right: 0;
    width: 30px;
    height: 30px;
  }

  &::before {
    right: 11px;

    // top: 50%;
    // transform: translate(-50% -50%);
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    &::before {
      width: 9px;
      height: 9px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 2px;
  }
}

.programs__link-wrapper {
  display: flex;
  align-self: center;
  width: 320px;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    margin: 0;
    padding: 0;
    right: calc(50% - ((768px - 45px * 2) / 2));
    justify-content: flex-end;
    align-items: flex-end;
    top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    top: 62px;
    right: calc(50% - ((1440px - 100px * 2) / 2));
  }
}

.programs__link {
  width: 205px;
  padding: 18px 21px 16px 30px;

  &::before {
    right: 16px;
  }

  &::after {
    right: 4px;
  }
  @media (min-width: $tablet-width) {
    width: 234px;
    height: 56px;
    padding: 16px 21px 16px 30px;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.28px;

    &::after {
      width: 46px;
      height: 46px;
    }
    &::before {
      width: 9px;
      height: 9px;
      right: 22px;
    }
  }
}

.programs__swiper-buttons {
  width: 54px;
  // height: 24px;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  gap: 8px;
  position: absolute;
  content: "";
  top: 54px;
  right: calc(50% - ((320px - 15px * 2) / 2));
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: unset;
    bottom: 50px;
    gap: 10px;
    right: calc(50% - ((768px - 45px * 2) / 2));
  }

  @media (min-width: $desktop-width) {
    bottom: 60px;
    right: calc(50% - ((1440px - 100px * 2) / 2));
  }
}

.programs__swiper-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 70%;
  }

  &:focus,
  &:focus-visible,
  &:focus-within {
    outline: none;
    background-color: $primary-white;
  }

  &:active {
    opacity: 70%;
  }
}

.programs__swiper-button.swiper-button-next::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-swiper-button-view") no-repeat center; //кривая стрелочка
  background-color: $primary-blue;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.programs__swiper-button.swiper-button-prev::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-swiper-button-view") no-repeat center; //кривая стрелочка
  background-color: $primary-blue;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.programs__swiper-button.swiper-button-next:active::after,
.programs__swiper-button.swiper-button-prev:active::after {
  outline: none;
  opacity: 70%;
}

.programs__swiper-button.swiper-button-next:disabled:after,
.programs__swiper-button.swiper-button-prev:disabled:after {
  background-color: #a9afb7;
  pointer-events: none;
}

.swiper-scrollbar.programs__swiper-scrollbar,
.swiper-scrollbar {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    content: "";
    bottom: 60px;
    left: calc(50% - ((768px - 45px * 2) / 2));
    width: 562px;
    height: 2px;
    background: #93afd6;
    cursor: grab;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    content: "";

    bottom: 48px;
    left: calc(50% - ((1440px - 100px * 2) / 2));
    width: 1136px;
    height: 2px;
  }
}

.swiper-scrollbar.programs__swiper-scrollbar .swiper-scrollbar-drag {
  display: block;
  background: $primary-blue;
  height: 100%;
  cursor: grab;
}
