.reviews {
  display: flex;
  flex-flow: column wrap;
  background-color: #f0efe9;
  position: relative;
  padding: 50px 0;

  @media (min-width: $desktop-width) {
    padding: 60px 0;
  }
}

.reviews__heading {
  display: flex;
  align-self: center;
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: $primary-blue;
  width: 320px;
  padding: 0 15px; //?

  @media (min-width: $tablet-width) {
    font-size: 34px;
    line-height: 50px;
    width: 768px;
    padding: 0 45px;
    margin: 0 0 43px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    width: 1440px;
    padding: 0 100px;
    margin: 0 0 40px;
  }
}

.swiper.reviews__swiper {
  width: 290px;
  // padding: 0 0 0 15px;
  margin-bottom: 30px;
  height: auto;


  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 0 0 45px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    padding: 0;
  }
}

.swiper-slide.reviews__swiper-slide {
  position: relative;
  max-width: 290px;
  min-height: 472px;
  border: solid 2px $primary-blue;
  border-radius: 16px;
  height: auto;

  @media (min-width: $tablet-width) {
    min-height: 417px;
    max-width: 560px;
    height: auto;

  }

  @media (min-width: $desktop-width) {
    min-height: 483px;
    max-width: 604px;
  }
}

.reviews__swiper-innner-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  min-height: 400px;
  height: 100%;
  padding: 32px 17px;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    min-height: 420px;
    padding: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px;
  }
}

.reviews__author-wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: unset;
    justify-content: space-between;
    margin: 0 0 30px;
    align-items: center;
  }
}

.reviews__author-name-wrapper {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  align-items: center;
  @media (min-width: $tablet-width) {
    gap: 15px;
  }
}

.reviews__image {
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.reviews__author-name {
  display: flex;
  flex-flow: row wrap;
  width: 75px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $primary-blue;

  @media (min-width: $tablet-width) {
font-size: 20px;
line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
      }
}

.reviews__description {
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: column wrap;
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 11px;
  }
}

.reviews__details {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
}

.reviews__program-title,
.reviews__date-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-align: left;
  color: $primary-blue;
  text-transform: uppercase;
}

.reviews__program-name,
.reviews__date {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;

  }
  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 18px;

  }
}

.reviews__title {
  display: inline-block;
  margin: 0 0 20px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: $primary-blue;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 26px;
  }
}

.reviews__swiper-innner-container p {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 26px;
  }
}

.reviews__swiper-buttons {
  width: 54px;
  // height: 24px;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  position: absolute;
  content: "";
  top: 50px;
  right: calc(50% - ((320px - 15px * 2) / 2));
  z-index: 2;

  @media (min-width: $tablet-width) {
    top: unset;
    bottom: 50px;
    right: calc(50% - ((768px - 45px * 2) / 2));
  }

  @media (min-width: $desktop-width) {
    bottom: 60px;
    right: calc(50% - ((1440px - 100px * 2) / 2));
  }
}

.reviews__swiper-button {
  display: block;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  // border: red solid 1px;
}

.reviews__swiper-button.swiper-button-next::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-swiper-button-view") no-repeat center; //кривая стрелочка
  background-color: $primary-blue;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__swiper-button.swiper-button-prev::after {
  position: absolute;
  content: "";
  mask: url("/__spritemap#sprite-swiper-button-view") no-repeat center; //кривая стрелочка
  background-color: $primary-blue;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.swiper-scrollbar .reviews__swiper-scrollbar {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    position: absolute;
    content: "";
    bottom: 50px;
    left: calc(50% - ((768px - 45px * 2) / 2));
    width: 562px;
    height: 2px;
    background: #93afd6;
    cursor: grab;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    position: absolute;
    content: "";

    bottom: 60px;
    left: calc(50% - ((1440px - 100px * 2) / 2));
    width: 1136px;
    height: 2px;
  }
}

.swiper-scrollbar-drag {
  display: block;
  background: $primary-blue;
  height: 100%;
  cursor: grab;
}
