$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$project-font: "Manrope", "Arial", sans-serif;
$primary-dark: #484848;
$primary-white: #ffffff;
$additional-light: #f0efe9;
$primary-blue: #316dc2;
$active-blue: #275699;
$disabled: #a9afb7;
$error: #ff5e66;
$overlay-photo: rgba(49, 109, 194, 0.2);
$overlay-form: rgba(13, 29, 51, 0.4); // ! menu header, popup
